/* boxsize.css */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  /* width는 container 같으면 생략 가능함 */
  /* width: 1000px; */
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}
section{
  width: 640px;
  height: 600px;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
}
aside{
  width: 360px;
  height: 600px;
  border: 1px solid #ccc;
  padding: 10px;
  float: right;
}
footer{
  clear: both;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}